*{
    padding: 0%;
    margin: 0%;
    font-family: Poppins;
  
}
.landingpage{
    background-color:#e5e5e5;
    min-height: 70vh;

}
.navbar {
    overflow: hidden;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .navbar a {
    padding: 50px 45px;
    color: black;
    font-size: 17px;
    text-decoration: none;
  }

  
  .navbar-text{
    margin-top: 150px;
    display: inline-block;
    padding-right: 40px;
    padding-left: 80px;
    text-align: left;
    margin-right: 825px;

}



  .container-Eat {
    border: 1px solid black;
    margin-left: 80px;
    margin-right: 35px;
    padding-right: 70px;
    padding-left: 0px;
  }
  .eat-together-section{
    margin-left: 80px;
    margin-right: 35px;
    padding-right: 70px;
    padding-left: 0px;
    display: flex;
}
.eat-together-section>img{
  width: 100%;
}


.eat-together-text{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:center;
}
.eat-together-text>h1{
  text-align: center;
  margin-left: 12rem;
}



.container-explore{
    border: 1px solid black;
    margin-left: 80px;
    margin-right: 35px;
    padding-right: 70px;
    padding-left: 0px;
    background-color: #eaf3e4;

}
  .explorebox {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .container-explore>h1{
    text-align: center
  }
 
 
 .box {
    padding: 50px;
    margin: 45px;
    height: 100px;
    width: 200px;
    border-radius: 0 0 40px 0;
    background-color: white;
}

.box {
  padding: 14px;
  margin: 45px;
  min-height: 100px;
  width: 200px;
  border-radius: 0 0 40px 0;
  background-color: white;
  position: relative;
}
.box>img{
  position: absolute;
  bottom: -2rem;
  left: -4.5rem;
  height: 8rem;
  width: 9rem;
}

.box>h3{
  text-align: left;
}

.box>p{
  text-align:center;
  margin-left: 2rem;
}
.container-deals{
    border: 1px solid black;
    margin-left: 80px;
    margin-right: 35px;
    padding-right: 70px;
    padding-left: 0px;
    background-color: #c9ecb5;
}
.hotdealbox>#juice{
  position: relative;
  bottom: 6rem;
 
}

.hotdealbox>#burger{
  position: relative;
  bottom: 6rem;
  left: -16rem;
  height: 15rem;

  
}
.hotdealbox>h2{
  text-align: center;
}
.hotdeal-text{
 border: 1px solid black;
 float: right;
 margin-left:40rem;
 
 

}
.contactbox{
    border: 1px solid black;
    margin-left: 80px;
    margin-right: 35px;
    padding-right: 70px;
    padding-left: 0px;
    background-color: #fff5dd;
    
}
.contactbox>h1{
  text-align: center;
}
.contactbox>p{
  text-align: center;

}
.contactbox>form{
  text-align:center;
}
input[type=text] {
  width: 30%;
  height: 2rem;
  text-decoration: black;
  color: black;
  
  border-radius: 10px;
}
#contact-button {
  
  background-color: #6CB840;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 4px;
  border-radius: 20px;
  width:10%;

}
.container-footer{
  border: 1px solid black;
  margin-top: 5%;
  margin-left: 80px;
  margin-right: 35px;
  padding-right: 70px;
  padding-left: 0px;
  background-color: #f1faec;

}
.footer{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
  
}
.footer-left{
  flex: 1px;
  padding: 10px;
}
.footer-center{
  flex: 5px;
  padding: 60px;

  border-left: 2.5px dashed #649549 ;
}
.footer-right{
  flex: 1px;
  padding: 60px;

}
#footer-button{
  background-color: #6CB840;

}