*{
    padding: 0%;
    margin: 0%;
  
}
.landingpage{
    background-color:#e5e5e5;
    min-height: 70vh;

}
.navbar {
    overflow: hidden;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .navbar a {
    padding: 50px 45px;
    color: black;
    font-size: 17px;
    text-decoration: none;
  }

  .textbox1{
      margin-top: 150px;
      display: inline-block;
      padding-right: 40px;
      padding-left: 80px;
      text-align: left;
      margin-right: 825px;

  }
  .textbox2{
    display: flex;
    
  }
  .textbox3{
      border:black 1px solid;
      margin-top: 250px;
      margin-bottom: 250px;
      margin-right: 2000px;
      margin-left: 2px;
      text-align: center;
      padding-right: 100px;
      
  
  }